* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  html,
  body {
    height: 100%;
    background-color: #ebe5dd;
  }
  
  /* HEADER */
  .main {
    margin: auto;
    max-width: 1200px;
  }
  
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://imgmedia.lbb.in/media/2018/08/5b6947abb405b45c41075dfd_1533626283994.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  /* NAVIGATION */
  .main-list {
    float: right;
    font-variant: small-caps;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 10px;
  }
   
  /* Responsive layout */
  @media screen and (max-width: 1000px) {
    .main-list {
      font-size: 17px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .main-list {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .main-list {
      font-size: 7px;
      font-weight: bold;
    }
  }
  
  .main-list-item {
    display: inline-block;
  }
  
  .main-list-item a {
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    padding: 5px 20px;
    transition: 0.7s ease;
  }
  
  .main-list-item a:hover {
    background-color: rgb(89, 73, 46);
  }
  
  /* TITLE */
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .heading {
    color: white;
    font-size: 4vw;
    font-variant: small-caps;
  }